.movie-body-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow:
            0 0 25px rgba(0, 0, 0, 0.55),
            0 0 18px rgba(0, 0, 40, 0.18);
    padding: 2rem;
}

.inner-movie-bc {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 75%;
}

.recent-container, .rated-container, .trending-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.movie-header-ctr {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.redbar-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 0;
}

.seeAll-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 0, 40, 0.8);
    border-radius: 8px;
    background: linear-gradient(to left, rgb(255, 0, 38) 30%, rgba(255, 0, 40, 0.9), rgba(255, 0, 40, 0.6));
    transform: scale(1);
    transition: transform 0.032s ease-in;
    margin-right: 1.75rem;
    cursor: pointer;
}

.seeAll-btn > p {
    color: rgba(255, 255, 255, 8.5);
    font-weight: 500;
    margin: 0;
    padding: 0.35rem 1rem;
}

.seeAll-btn:hover {
    transform: scale(1.02);
}

.seeAll-btn:active {
    transform: scale(0.99);
}

.redbar-header > h2 {
    margin: 0;
    color: white;
    font-weight: 500;
}


.red-bar {
    width: 5px;
    height: 2rem;
    background-color: rgba(255, 0, 40, 0.8);
    margin-left: 1rem;
}

.movies-container {
    flex: 1;
    width: 95%;
    display: flex;
    margin: 0 auto;
    gap: 2rem;
}

.search-filters {
    width: 18%;
    height: 75%;
}


/* Searched Results */
.search-results-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.search-results-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.search-results-header > h2 {
    color: rgba(255, 255, 255, 8.5);
}

.search-results-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    border: 1px solid wheat;
}


/* bottom buttons */
.search-button-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid hotpink;
    gap: 0.5rem;
}

.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 70%;
    border:1px solid rgba(255, 0, 40, 0.8);
    background: linear-gradient(to left, #3A1A2D, #331A31, #2B182E);
    border-radius: 8px;
    transform: scale(1);
    transition: transform 0.042s ease-in;
    cursor: pointer;
}

.main-btn:hover {
    transform: scale(1.01);
}

.main-btn:active {
    transform: scale(0.99);
}

.main-btn.page-btn-active {
    background: linear-gradient(to left, rgb(255, 0, 38) 30%, rgba(255, 0, 40, 0.9), rgba(255, 0, 40, 0.6));

}

.main-btn > p {
    color: rgba(255, 255, 255, 8.5);
}