.register-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 3rem 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}


.register {
    display: flex;
    flex-direction: column;
}

.register-button {
    height: 2rem;
    font-size: 13px;
    width: 8rem;
    transform: scale(1);
    border: 1px solid rgba(22, 21, 21, 0.897);
    border-radius: 8px;
    margin-top: 2rem;
    translate: transform 0.03s ease;
    cursor: pointer;
}

.register-button:hover {
    transform: scale(1.03);
}

.register-button:active {
    transform: scale(0.98);
}

#username {
    margin-bottom: 0.75rem;
}

.label {
    font-size: small;
}

input {
    width: 20rem;
}