.home-main {
    display: flex;
    width: min(92vw, 1760px);
    flex: 1;
}

.home-content{
    flex: 1;
    background-color: var(--bg);
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sidebar {
    min-width: 220px;
    max-width: 250px;

}