.main-aip {
    overflow-y: scroll;
    height: 60rem;
    width: 100%;
    padding-left: 1rem;
}
.aip-c {
    padding: 1rem;
    margin-bottom: 1rem;
}

.title-aip > h3 {
    font-weight: 700;
}


.issue-aip {
    width: 40rem;
}

.issue-aip > p {
    white-space: normal;
    overflow-wrap: break-word;
}

.issue-box {
    width: 100%;
    height: 20rem;
    border: 1px solid var(--border);
    border-radius: 15px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    overflow-y: auto;
    margin-bottom: 1rem;

}

.ic {
    padding-left: 1rem;
}

.button-aipc {

}

.button-aip {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    background-color: red;
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    transition: transform 0.03s ease;
    cursor: pointer;
}

.button-aip:hover {
    transform: scale(1.02);
}

.button-aip:active {
    transform: scale(0.98);
}

.button-aip > p {
    color: white;
    font-weight: bold;
}

