.login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card, .card-light {
    padding: 3rem 2rem; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}


.login {
    display: flex;
    flex-direction: column;
}

.login-button {
    height: 2rem;
    margin-top: 2rem;
    width: 8rem;
    border-radius: 8px;
    font-size: 13px;
    transform: scale(1);
    border: 1px solid rgba(22, 21, 21, 0.897);
    cursor: pointer;
    translate: transform 0.03s ease;
}

.login-button:hover {
    transform: scale(1.02);
}

.login-button:active {
    transform: scale(0.98);

}

#username {
    margin-bottom: 0.75rem;
}

.label {
    font-size: small;
}

input {
    width: 20rem;
}
