.outter-mr-container {
    height: 100%;
}

.inner-mr-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 9px;
    width: 30rem;
    height: 21rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    overflow:hidden; 
}

.mr-h-c.stats {
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.mr-h {
    width: 100%;
    height: 100%;
}

.mr-h > h5.stats {
    margin: 0 0 0 1rem;
    padding: 0.5rem 0;
}


.header-tabs {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.Top, .Spending {
    background-color: rgb(240, 240, 240);
}

.Orders {
    background-color: rgb(255, 235, 198);
}

.header-tabs > .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 8rem;
    border-radius: 6px;
    gap: 0.5rem;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 4px;
    margin: 0.5rem 0;
    overflow: hidden;
}

.tab > .tab-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 50%;
    height: 42px;
    width: 42px;
    overflow: hidden;
}


.tab-img > img {
    height: 28px;
    width: 28px;
}

.column-tab-info > .tab-name > p, .column-tab-info > .tab-total > h6, .tab-total > p {
    font-size: 11px;
    margin: 0;
}

.tab-total > p {
    font-weight: bold;
}

.s-header > h4 {
    margin: 2rem 0 0.5rem 2rem;
}

.s-table-c {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.max-table {
    width: 90%;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 8px;
    margin: 0 auto;
    border-collapse: collapse;
    overflow: hidden;
}

.max-table > .max-tbl-head > tr > * {
    font-size: 15px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 0.25rem 0;
}

.max-tbl-body > tr > * {
    font-size: 12px;
    text-align: center;
    padding: 0.25rem 0;
    background-color: rgb(253, 253, 253);
}

.max-tbl {
    margin-bottom: 1rem;
}