.sidebar {
    background: var(--sidebar-bg);
}

.sidebar-container {
    flex: 1;
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 90%;
    gap: 2rem;
}

.button-container {
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 1.3rem 0 1.3rem 2rem;
    cursor: pointer;
}

.button-container.active {
    background: var(--active-sidebar-bg);
}

.button-container > span {
    display: flex;
    flex: 1;
    gap: 1.5rem;
    padding-left: 1.5rem;
}

.button-container.active::before,
.button-container.active::after {
    content: "";
    position: absolute;
    right: 0;
    width: 24px;
    height: 24px;
    background: var(--sidebar-bg);
}

/* top curve piece */
.button-container.active::before {
    top: -24px;
    border-bottom-right-radius: 24px;
    box-shadow: 12px 12px 0 12px var(--active-sidebar-bg);
}

/* bottom curve piece */
.button-container.active::after {
    bottom: -24px;
    border-top-right-radius: 24px;
    box-shadow: 12px -12px 0 12px var(--active-sidebar-bg);
}

.button-container > img {
    padding-left: 1rem;
}


.profile-pic {
    padding: 2rem 0;
    
}

.svg {
    width: 28px;
}


.outter-circle-light {
    margin-left: 3.5rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.outter-circle-light::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;

    /* This creates a ring that is brighter on one side */
    background: conic-gradient(from 220deg,
            rgba(255, 255, 255, 0.3),
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));

    /* Makes it a ring instead of a filled circle */
    -webkit-mask: radial-gradient(circle, transparent 62%, black 85%);
    mask: radial-gradient(circle, transparent 62%, black 85%);
}

.outter-circle-dark {
    margin-left: 3.5rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.outter-circle-dark::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;

    /* darker ring with a slightly stronger highlight */
    background: conic-gradient(from 220deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.3));

    -webkit-mask: radial-gradient(circle, transparent 62%, black 85%);
    mask: radial-gradient(circle, transparent 62%, black 85%);
}

.logout{
    display: flex;
    justify-content: center;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.05 ease;
}

.logout:hover{
    color: rgb(0, 4, 255);
}

.logout:active{
    transform: scale(0.98);
}



